language: cpp

matrix:
  include:
    - os: linux
      dist: trusty
      env:
        - MATRIX_EVAL="CC=gcc-5 && CXX=g++-5"
        - CONFIG="-DTOOLBOX_CXX_STANDARD=14"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-5
            - g++-5
            - cmake

    - os: linux
      dist: trusty
      env:
        - MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"
        - CONFIG="-DTOOLBOX_CXX_STANDARD=14"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-6
            - g++-6
            - cmake
    - os: linux
      dist: trusty
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
        - CONFIG="-DTOOLBOX_CXX_STANDARD=17"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-7
            - g++-7
            - cmake
            - libboost-all-dev
    - os: linux
      dist: trusty
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
        - CONFIG="-DTOOLBOX_HAS_STDLIB=OFF"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-7
            - g++-7
            - cmake

before_install:
  - eval "${MATRIX_EVAL}"

script:
  # Export CC and CXX to tell cmake which compiler to use
  #  - export CC=/usr/bin/gcc-6
  #- export CXX=/usr/bin/g++-6
  # Check versions of gcc, g++ and cmake
  - gcc -v && g++ -v && cmake --version
  # Run your build commands next
  - mkdir build && cd build && cmake .. -DCONFIG_TESTS=ON $CONFIG && make
  - ./tests/tests
